body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 0px;
	background-color: white;
}

h1 {
	
}

a {
	text-decoration: none;
}

footer {
	background-color: #263238;
	color:white;
	margin-top: 3em;
	padding-top:2em;
	padding-bottom: 2em; 
}

.header {
    text-align: left;
    margin: 10em 6.75em 5em 6.75em;
}

.menu {
	position: absolute;
	text-decoration: none;
	top: 5em;
    right: 8.25em;
    z-index:999;
}

#overlay {
	position: fixed;
	z-index: 888;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#overlay nav ul{
	list-style-type: none;
	position: fixed;
	width: 100%;
    height: 100%;
    top: 25%;
    left: 0;
    padding: 0;
}

#overlay a {
	color: white;
	font-size: 5em;
}

.grid {
	display: block;
	margin: -1.25em 0 0 -1.25em;
}

.grid-third {
	width: 26%;
	height: 250px;
	margin: 5px;
	display: inline-block;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.grid-third:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.names {
	/*display: none;*/
	color: white;
	margin-top: 190px;
    padding: 10px;
    background-color: rgba(0,0,0,0.3);
}

.grid-third:hover .names {
	background-color: rgba(0,0,0,0.8);
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.break {
	display: none;
}

#k1 {
	background-color: #ECEFF1;
	background-image: url("img/players/stephen-gostkowski.png");
}
#k2 {
	background-color: #ECEFF1;
	background-image: url("img/players/adam-vinatieri.png");
}
#k3 {
	background-color: #ECEFF1;
	background-image: url("img/players/steven-hauschka.png");
}
#k4 {
	background-color: #ECEFF1;
	background-image: url("img/players/justin-tucker.png");
}
#k5 {
	background-color: #ECEFF1;
	background-image: url("img/players/matt-prater.png");
}
#k6 {
	background-color: #ECEFF1;
	background-image: url("img/players/brandon-mcmanus.png");
}
#k7 {
	background-color: #ECEFF1;
	background-image: url("img/players/mason-crosby.png");
}
#k8 {
	background-color: #ECEFF1;
	background-image: url("img/players/chandler-catanzaro.png");
}
#k9 {
	background-color: #ECEFF1;
	background-image: url("img/players/robbie-gould.png");
}
#k10 {
	background-color: #ECEFF1;
	background-image: url("img/players/graham-gano.png");
}
#k11 {
	background-color: #ECEFF1;
	background-image: url("img/players/cody-parkey.png");
}
#rankings {
	background-color: #ECEFF1;
	background-image: url("img/players/rankings.png");
}

.stats-row {
	width: 100%;
	text-align: center;
}

.stats-col {
    width: 23%;
    height: 225px;
    vertical-align: top;
    margin-right: 10px;
    display: inline-block;
    color: white;
}

.box-numbers {
    font-size: 3.5em;
    margin-top: 75px;
    margin-bottom: -10px;
}

.trend {
	position: absolute;
	top: 0;
	right: 0;
}

.rankings-row {
	width: 100%;
}

.rankings-col {
    padding: 20px;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.rankings-col:hover {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: #FAFAFA !important;
    color: black !important;
}

.rankings-stats {
	display: none;
	color: black !important;
	margin-left: 10%;
}

.rankings-col:hover .rankings-stats {
	display: inline;
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

/*Kicker Profile Stats Backgrounds*/
#k1-box-1{
	background: 
    linear-gradient(
      rgba(26, 35, 126, 0.7), 
      rgba(26, 35, 126, 0.7)
    ), url('img/box/k1/1.jpg');
	background-size: cover;
}
#k1-box-2{
	background: 
    linear-gradient(
      rgba(26, 35, 126, 0.7), 
      rgba(26, 35, 126, 0.7)
    ), url('img/box/k1/2.jpg');
    background-size: cover;
}
#k1-box-3{
	background: 
    linear-gradient(
      rgba(26, 35, 126, 0.7), 
      rgba(26, 35, 126, 0.7)
    ), url('img/box/k1/3.jpg');
    background-size: cover;
}
#k1-box-4{
	background: 
    linear-gradient(
      rgba(26, 35, 126, 0.7), 
      rgba(26, 35, 126, 0.7)
    ), url('img/box/k1/4.jpg');
    background-size: cover;
}
/*---*/
#k2-box-1{
	background: 
    linear-gradient(
      rgba(30,136,229,0.7), 
      rgba(30,136,229,0.7)
    ), url('img/box/k2/1.jpg');
	background-size: cover;
}
#k2-box-2{
	background: 
    linear-gradient(
      rgba(30,136,229,0.7), 
      rgba(30,136,229,0.7)
    ), url('img/box/k2/2.jpg');
    background-size: cover;
}
#k2-box-3{
	background: 
    linear-gradient(
	  rgba(30,136,229,0.7), 
	  rgba(30,136,229,0.7)
    ), url('img/box/k2/3.jpg');
    background-size: cover;
}
#k2-box-4{
	background: 
    linear-gradient(
      rgba(30,136,229,0.7), 
      rgba(30,136,229,0.7)
    ), url('img/box/k2/4.jpg');
    background-size: cover;
}
/*---*/
#k3-box-1{
	background: 
    linear-gradient(
      rgba(105,240,174,0.7), 
      rgba(105,240,174,0.7)
    ), url('img/box/k3/1.jpg');
	background-size: cover;
}
#k3-box-2{
	background: 
    linear-gradient(
      rgba(105,240,174,0.7), 
      rgba(105,240,174,0.7)
    ), url('img/box/k3/2.jpg');
    background-size: cover;
}
#k3-box-3{
	background: 
    linear-gradient(
	  rgba(105,240,174,0.7), 
      rgba(105,240,174,0.7)
    ), url('img/box/k3/3.jpg');
    background-size: cover;
}
#k3-box-4{
	background: 
    linear-gradient(
      rgba(105,240,174,0.7), 
      rgba(105,240,174,0.7)
    ), url('img/box/k3/4.jpg');
    background-size: cover;
}
/*---*/
#k4-box-1{
	background: 
    linear-gradient(
      rgba(103,58,183,0.7), 
      rgba(103,58,183,0.7)
    ), url('img/box/k4/1.jpg');
	background-size: cover;
}
#k4-box-2{
	background: 
    linear-gradient(
      rgba(103,58,183,0.7), 
      rgba(103,58,183,0.7)
    ), url('img/box/k4/2.jpg');
    background-size: cover;
}
#k4-box-3{
	background: 
    linear-gradient(
	  rgba(103,58,183,0.7), 
      rgba(103,58,183,0.7)
    ), url('img/box/k4/3.jpg');
    background-size: cover;
}
#k4-box-4{
	background: 
    linear-gradient(
      rgba(103,58,183,0.7), 
      rgba(103,58,183,0.7)
    ), url('img/box/k4/4.jpg');
    background-size: cover;
}
/*---*/
#k5-box-1{
	background: 
    linear-gradient(
      rgba(100,181,246,0.7), 
      rgba(100,181,246,0.7)
    ), url('img/box/k5/1.jpg');
	background-size: cover;
}
#k5-box-2{
	background: 
    linear-gradient(
      rgba(100,181,246,0.7), 
      rgba(100,181,246,0.7)
    ), url('img/box/k5/2.jpg');
    background-size: cover;
}
#k5-box-3{
	background: 
    linear-gradient(
	  rgba(100,181,246,0.7), 
      rgba(100,181,246,0.7)
    ), url('img/box/k5/3.jpg');
    background-size: cover;
}
#k5-box-4{
	background: 
    linear-gradient(
      rgba(100,181,246,0.7), 
      rgba(100,181,246,0.7)
    ), url('img/box/k5/4.jpg');
    background-size: cover;
}
/*---*/
#k6-box-1{
	background: 
    linear-gradient(
      rgba(255,152,0,0.7), 
      rgba(255,152,0,0.7)
    ), url('img/box/k6/1.jpg');
	background-size: cover;
}
#k6-box-2{
	background: 
    linear-gradient(
      rgba(255,152,0,0.7), 
      rgba(255,152,0,0.7)
    ), url('img/box/k6/2.jpg');
    background-size: cover;
}
#k6-box-3{
	background: 
    linear-gradient(
	  rgba(255,152,0,0.7), 
      rgba(255,152,0,0.7)
    ), url('img/box/k6/3.jpg');
    background-size: cover;
}
#k6-box-4{
	background: 
    linear-gradient(
      rgba(255,152,0,0.7), 
      rgba(255,152,0,0.7)
    ), url('img/box/k6/4.jpg');
    background-size: cover;
}
/*---*/
#k7-box-1{
	background: 
    linear-gradient(
      rgba(56,142,60,0.7), 
      rgba(56,142,60,0.7)
    ), url('img/box/k7/1.jpg');
	background-size: cover;
}
#k7-box-2{
	background: 
    linear-gradient(
      rgba(56,142,60,0.7), 
      rgba(56,142,60,0.7)
    ), url('img/box/k7/2.jpg');
    background-size: cover;
}
#k7-box-3{
	background: 
    linear-gradient(
	  rgba(56,142,60,0.7), 
      rgba(56,142,60,0.7)
    ), url('img/box/k7/3.jpg');
    background-size: cover;
}
#k7-box-4{
	background: 
    linear-gradient(
      rgba(56,142,60,0.7), 
      rgba(56,142,60,0.7)
    ), url('img/box/k7/4.jpg');
    background-size: cover;
}
/*---*/
#k8-box-1{
	background: 
    linear-gradient(
      rgba(229,57,53,0.7), 
      rgba(229,57,53,0.7)
    ), url('img/box/k8/1.jpg');
	background-size: cover;
}
#k8-box-2{
	background: 
    linear-gradient(
      rgba(229,57,53,0.7), 
      rgba(229,57,53,0.7)
    ), url('img/box/k8/2.jpg');
    background-size: cover;
}
#k8-box-3{
	background: 
    linear-gradient(
	  rgba(229,57,53,0.7), 
      rgba(229,57,53,0.7)
    ), url('img/box/k8/3.jpg');
    background-size: cover;
}
#k8-box-4{
	background: 
    linear-gradient(
      rgba(229,57,53,0.7), 
      rgba(229,57,53,0.7)
    ), url('img/box/k8/4.jpg');
    background-size: cover;
}
/*---*/
#k9-box-1{
	background: 
    linear-gradient(
      rgba(26,35,126,0.7), 
      rgba(26,35,126,0.7)
    ), url('img/box/k9/1.jpg');
	background-size: cover;
}
#k9-box-2{
	background: 
    linear-gradient(
      rgba(26,35,126,0.7), 
      rgba(26,35,126,0.7)
    ), url('img/box/k9/2.jpg');
    background-size: cover;
}
#k9-box-3{
	background: 
    linear-gradient(
	  rgba(26,35,126,0.7), 
      rgba(26,35,126,0.7)
    ), url('img/box/k9/3.jpg');
    background-size: cover;
}
#k9-box-4{
	background: 
    linear-gradient(
      rgba(26,35,126,0.7), 
      rgba(26,35,126,0.7)
    ), url('img/box/k9/4.jpg');
    background-size: cover;
}
/*---*/
#k10-box-1{
	background: 
    linear-gradient(
	  rgba(77,208,225,0.7), 
      rgba(77,208,225,0.7)
    ), url('img/box/k10/1.jpg');
	background-size: cover;
}
#k10-box-2{
	background: 
    linear-gradient(
      rgba(77,208,225,0.7), 
      rgba(77,208,225,0.7)
    ), url('img/box/k10/2.jpg');
    background-size: cover;
}
#k10-box-3{
	background: 
    linear-gradient(
	  rgba(77,208,225,0.7), 
      rgba(77,208,225,0.7)
    ), url('img/box/k10/3.jpeg');
    background-size: cover;
}
#k10-box-4{
	background: 
    linear-gradient(
      rgba(77,208,225,0.7), 
      rgba(77,208,225,0.7)
    ), url('img/box/k10/4.jpg');
    background-size: cover;
}
/*---*/
#k11-box-1{
	background: 
    linear-gradient(
	  rgba(0,150,136,0.7), 
      rgba(0,150,136,0.7)
    ), url('img/box/k11/1.jpg');
	background-size: cover;
}
#k11-box-2{
	background: 
    linear-gradient(
      rgba(0,150,136,0.7), 
      rgba(0,150,136,0.7)
    ), url('img/box/k11/2.jpg');
    background-size: cover;
}
#k11-box-3{
	background: 
    linear-gradient(
	  rgba(0,150,136,0.7), 
      rgba(0,150,136,0.7)
    ), url('img/box/k11/3.jpg');
    background-size: cover;
}
#k11-box-4{
	background: 
    linear-gradient(
      rgba(0,150,136,0.7), 
      rgba(0,150,136,0.7)
    ), url('img/box/k11/4.jpg');
    background-size: cover;
}

/****Tablet View****/
@media screen and (min-width: 569px) and (max-width: 1024px) {
	.grid-half {
		width: 45% !important;
	}
	.box-numbers {
		font-size: 2.5em !important;
	}
	.left-block {
		width: 100% !important;
	}
	.right-block {
		width: 100% !important;
	}
	.rankings-stats {
		display: inline !important;
		color: white !important;
		margin-left: 10px !important;
	}
	.header {
		margin: 10em 3.75em 5em 3.75em !important;
	}
	.menu {
		right: 3.7em !important;
	}
	.rankings-col {
		font-size: 1em !important;
	}
	.stats-col {
		max-height: 160px !important;
		width: 22% !important;
		font-size: 0.8em !important;
	}
	.box-numbers {
		margin-top: 55px !important;
		font-size: 2em !important;
	}
	footer {
		font-size: 0.7em !important;
	}

}
/****Mobile View****/
@media screen and (min-width: 180px) and (max-width: 568px) {
	.grid-full {
		width: 100% !important;
	}
	.description {
		font-size: 0.75em;
	}
	.header {
	   margin: 10em 2em 5em 2em !important;
	}
	h1 {
		font-size: 1em !important;
	}
	footer {
		font-size: 0.5em !important;
	}
	#overlay a {
    	font-size: 2em !important;
	}
	.menu {
		top: 2em !important;
    	right: 1.25em !important;
	}
	.team-name {
		padding-top: 30px;
	}
	.team-title {
		width: 200px !important;
	}
	.smicon {
		margin-left: 0px !important;
	}
	.break {
		display: inline !important;
	}
	.stats-col {
		width: 100% !important;
    	margin-bottom: 10px;
	}
	.right-block {
		max-width: 165px !important;
    	overflow: hidden !important;
	}
}