<!DOCTYPE html>
<html lang="en">
<head>
<title>11 Kickers</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<meta charset = "UTF-8">
<script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>
</head>
<body>
	<div class="menu">
		<a href="#" onclick="toggle_visibility('overlay');"><i class="fa fa-bars fa-2x" style="color:black"></i></arcu>
	</div>

	<div id="overlay" style="display:none;">
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">Rankings</a></li>
			</ul>
		</nav>
	</div>

	<div class="header">
		<h1>11 Kickers</h1>
		<h1>Why go for two when you can kick it through.</h1>
		<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
	</div>


	<div class="grid">
		<a href="stephen-gostkowski.html"><div class="grid-third grid-half grid-full" id="k1">
			<p class="names">Stephen Gostkowski</p>
		</div></a>
		<a href="adam-vinatieri.html"><div class="grid-third grid-half grid-full" id="k2">
			<p class="names">Adam Vinatieri</p>
		</div></a>
		<a href="steven-hauschka.html"><div class="grid-third grid-half grid-full" id="k3">
			<p class="names">Steven Hauschka</p>
		</div></a>

		<a href="justin-tucker.html"><div class="grid-third grid-half grid-full" id="k4">
			<p class="names">Justin Tucker</p>
		</div></a>
		<a href="matt-prater.html"><div class="grid-third grid-half grid-full" id="k5">
			<p class="names">Matt Prater</p>
		</div></a>
		<a href="brandon-mcmanus.html"><div class="grid-third grid-half grid-full" id="k6">
			<p class="names">Brandon McManus</p>
		</div></a>

		<a href="mason-crosby.html"><div class="grid-third grid-half grid-full" id="k7">
			<p class="names">Mason Crosby</p>
		</div></a>
		<a href="chandler-catanzaro.html"><div class="grid-third grid-half grid-full" id="k8">
			<p class="names">Chandler Catanzaro</p>
		</div></a>
		<a href="robbie-gould.html"><div class="grid-third grid-half grid-full" id="k9">
			<p class="names">Robbie Gould</p>
		</div></a>

		<a href="graham-gano.html"><div class="grid-third grid-half grid-full" id="k10">
			<p class="names">Graham Gano</p>
		</div></a>
		<a href="cody-parkey.html"><div class="grid-third grid-half grid-full" id="k11">
			<p class="names">Cody Parkey</p>
		</div></a>
		<a href="rankings.html"><div class="grid-third grid-half grid-full" id="rankings">
			<p class="names">Rankings</p>
		</div></a>
	</div>
 

  <footer>
  	<p>Copyright &copy; 11 Kickers. 11 Kickers is not affiliated with the NFL in any way, shape, or form. </p>
  </footer>
</body>
</html>