<!DOCTYPE html>
<html lang="en">
<head>
<title>11 Kickers</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset = "UTF-8">
	<script type="text/javascript">
	    function toggle_visibility(id) {
	       var e = document.getElementById(id);
	       if(e.style.display == 'block')
	          e.style.display = 'none';
	       else
	          e.style.display = 'block';
	    }
	</script>
</head>
<body>
	<div class="menu">
		<a href="#" onclick="toggle_visibility('overlay');"><i class="fa fa-bars fa-2x" style="color:black;background-color: white;
    padding: 15px;"></i></a>
	</div>

	<div id="overlay" style="display:none;">
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="rankings.html">Rankings</a></li>
			</ul>
		</nav>
	</div>

	<div class="header">
		<h1>11 Kickers</h1>
		<h1>Why go for two when you can kick it through.</h1>
		<p class="description">When the game comes down to the wire, you need a kicker that you can count on. The unsung hero, the one who scores the 1 or 2 points that can make the difference between a Super Bowl Ring or utter and shameful defeat. The kicker is argueably the most valuable position on the football team, with polls showing that 92% of NFL coaches agreed that they would rather pick a kicker first before a quarterback. Below you will find the elite eleven kickers in the NFL, in addition to their stats, social media feeds, and personal quotes.
		</p>
	</div>

	<div class="grid">
		<a href="stephen-gostkowski.html"><div class="grid-third grid-half grid-full" id="k1">
			<p class="names">Stephen Gostkowski</p>
		</div></a>
		<a href="adam-vinatieri.html"><div class="grid-third grid-half grid-full" id="k2">
			<p class="names">Adam Vinatieri</p>
		</div></a>
		<a href="steven-hauschka.html"><div class="grid-third grid-half grid-full" id="k3">
			<p class="names">Steven Hauschka</p>
		</div></a>

		<a href="justin-tucker.html"><div class="grid-third grid-half grid-full" id="k4">
			<p class="names">Justin Tucker</p>
		</div></a>
		<a href="matt-prater.html"><div class="grid-third grid-half grid-full" id="k5">
			<p class="names">Matt Prater</p>
		</div></a>
		<a href="brandon-mcmanus.html"><div class="grid-third grid-half grid-full" id="k6">
			<p class="names">Brandon McManus</p>
		</div></a>

		<a href="mason-crosby.html"><div class="grid-third grid-half grid-full" id="k7">
			<p class="names">Mason Crosby</p>
		</div></a>
		<a href="chandler-catanzaro.html"><div class="grid-third grid-half grid-full" id="k8">
			<p class="names">Chandler Catanzaro</p>
		</div></a>
		<a href="robbie-gould.html"><div class="grid-third grid-half grid-full" id="k9">
			<p class="names">Robbie Gould</p>
		</div></a>

		<a href="graham-gano.html"><div class="grid-third grid-half grid-full" id="k10">
			<p class="names">Graham Gano</p>
		</div></a>
		<a href="cody-parkey.html"><div class="grid-third grid-half grid-full" id="k11">
			<p class="names">Cody Parkey</p>
		</div></a>
		<a href="rankings.html"><div class="grid-third grid-half grid-full" id="rankings">
			<p class="names">Rankings</p>
		</div></a>
	</div>
 

  <footer>
  	<p>Copyright &copy; 11 Kickers. 11 Kickers is not affiliated with the NFL in any way, shape, or form. Quotes may or may not be fictitious.</p>
  </footer>
</body>
</html>