<!DOCTYPE html>
<html lang="en">
<head>
<title>11 Kickers</title>
      <link rel="stylesheet" type="text/css" href="static/style.css"/>
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<meta charset = "UTF-8">
</head>
<body>
	<!-- <div class="bar"></div> -->

	<div class="header">
		<h3>
		{% block team %}
		{% endblock %}
		</h3>
		<h1>{{title}}</h1>
		<h1 style="font-style:italic">"{{quote}}"</h1>
		
		{% block rankings %}
		{% endblock %}

		{% block social %}
		{% endblock %}

		{% block stats %}
		{% endblock %}

		<div style="width:100%;margin-top:25px;">
			<div style="display:inline-block;vertical-align:top;">
				{% block twitter %}
				{% endblock %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:40px;">
				{% block gif %}
				{% endblock %}
			</div>
		</div>
		
		
	</div>


	

  <footer>
  	<p>Copyright &copy; 11 Kickers. 11 Kickers is not affiliated with the NFL in any way, shape, or form. </p>
  </footer>
</body>
</html>