{% extends "templates/profile.html" %}
{% block rankings %}
<style>
body {
	background-image: url('static/img/bg3.jpg');
	background-size: cover center;
}
.header {
	background-color: white;
	padding: 1em 2em 0em 2em;
}
.current-gallery {
	color: black !important;
    background-color: white;
    padding: 2px 50px;
}
</style>

<p class="description">
	Below you'll find special gifs for every one of the elite eleven kickers. The highlights, the hits, and of course the celebrations. Click on each one to be linked to their page.
</p>

<div class="rankings-row" style="text-align:center">
	<a href="justin-tucker.html">
		<img src="static/img/gif/justin-tucker.gif" class="gif-size" style="width:98%;">
	</a>
	<a href="stephen-gostkowski.html">
		<img src="static/img/gif/stephen-gostkowski.gif" class="gif-size">
	</a>
	<a href="adam-vinatieri.html">
		<img src="static/img/gif/adam-vinatieri.gif" class="gif-size">
	</a>
	<a href="steven-hauschka.html">
		<img src="static/img/gif/steven-hauschka.gif" class="gif-size" style="width:48%;">
	</a>
	<a href="brandon-mcmanus.html">
		<img src="static/img/gif/brandon-mcmanus.gif" class="gif-size">
	</a>
	
	<a href="matt-prater.html">
		<img src="static/img/gif/matt-prater.gif" class="gif-size">
	</a>
	<a href="mason-crosby.html">
		<img src="static/img/gif/mason-crosby.gif" class="gif-size">
	</a>
	<a href="chandler-catanzaro.html">
		<img src="static/img/gif/chandler-catanzaro.gif" class="gif-size">
	</a>
	<a href="robbie-gould.html">
		<img src="static/img/gif/robbie-gould.gif" class="gif-size">
	</a>
	<a href="graham-gano.html">
		<img src="static/img/gif/graham-gano.gif" class="gif-size">
	</a>
	<a href="cody-parkey.html">
		<img src="static/img/gif/cody-parkey.gif" class="gif-size">
	</a>
</div>
{% endblock %}	