{% extends "templates/profile.html" %}
{% block rankings %}
<div class="rankings-row">
	<div class="rankings-col" style="background-color:#171f71;color:white;">
		1. Stephen Gostkowski
		<span class="rankings-stats">
			FGM: 276
		</span>
		<span class="rankings-stats">
			XPM: 502
		</span>
		<span class="rankings-stats">
			PTS: 1330
		</span>
	</div>
	<div class="rankings-col" style="background-color:#1A237E;color:white;">
		2. Adam Vinatieri
		<span class="rankings-stats">
			FGM: 276
		</span>
		<span class="rankings-stats">
			XPM: 502
		</span>
		<span class="rankings-stats">
			PTS: 1330
		</span>
	</div>
	<div class="rankings-col" style="background-color:#283593;color:white;">
		3. Steven Hauschka
		<span class="rankings-stats">
			FGM: 276
		</span>
		<span class="rankings-stats">
			XPM: 502
		</span>
		<span class="rankings-stats">
			PTS: 1330
		</span>
	</div>
	<div class="rankings-col" style="background-color:#303F9F;color:white;">
		4. Brandon McManus
		<span class="rankings-stats">
			FGM: 276
		</span>
		<span class="rankings-stats">
			XPM: 502
		</span>
		<span class="rankings-stats">
			PTS: 1330
		</span>
	</div>
	<div class="rankings-col" style="background-color:#3949AB;color:white;">
		5. Justin Tucker
		<span class="rankings-stats">
			FGM: 276
		</span>
		<span class="rankings-stats">
			XPM: 502
		</span>
		<span class="rankings-stats">
			PTS: 1330
		</span>
	</div>
	<div class="rankings-col" style="background-color:#3F51B5;color:white;">
		6. Matt Prater
		<span class="rankings-stats">
			FGM: 276
		</span>
		<span class="rankings-stats">
			XPM: 502
		</span>
		<span class="rankings-stats">
			PTS: 1330
		</span>
	</div>
	<div class="rankings-col" style="background-color:#5C6BC0;color:white;">
		7. Mason Crosby
		<span class="rankings-stats">
			FGM: 276
		</span>
		<span class="rankings-stats">
			XPM: 502
		</span>
		<span class="rankings-stats">
			PTS: 1330
		</span>
	</div>
	<div class="rankings-col" style="background-color:#7986CB;color:white;">
		8. Chandler Catanzaro
		<span class="rankings-stats">
			FGM: 276
		</span>
		<span class="rankings-stats">
			XPM: 502
		</span>
		<span class="rankings-stats">
			PTS: 1330
		</span>
	</div>
	<div class="rankings-col" style="background-color:#9FA8DA;color:black;">
		9. Robbie Gould
		<span class="rankings-stats">
			FGM: 276
		</span>
		<span class="rankings-stats">
			XPM: 502
		</span>
		<span class="rankings-stats">
			PTS: 1330
		</span>
	</div>
	<div class="rankings-col" style="background-color:#C5CAE9;color:black;">
		10. Graham Gano
		<span class="rankings-stats">
			FGM: 276
		</span>
		<span class="rankings-stats">
			XPM: 502
		</span>
		<span class="rankings-stats">
			PTS: 1330
		</span>
	</div>
	<div class="rankings-col" style="background-color:#E8EAF6;color:black;">
		11. Cody Parkey
		<span class="rankings-stats">
			FGM: 276
		</span>
		<span class="rankings-stats">
			XPM: 502
		</span>
		<span class="rankings-stats">
			PTS: 1330
		</span>
	</div>
</div>
{% endblock %}	