{% extends "templates/profile.html" %}
{% block rankings %}
<style>
body {
	background-image: url('static/img/bg.jpg');
}
.header {
	background-color: white;
	padding: 1em 2em 0em 2em;
}
</style>

<p class="description">
	Below you'll find the rankings for each of the elite eleven kickers. The criteria for rankings was fantasy efficiency, career stats, and fame. Hover over each one to see an overview of their stats. Click on each one to be linked to their page.
</p>

<div class="rankings-row">
	<a href="stephen-gostkowski.html"><div class="rankings-col" style="background-color:#171f71;color:white;">
		1. Stephen Gostkowski
		<span class="rankings-stats">
			FGM: 276
		</span>
		<span class="rankings-stats">
			XPM: 502
		</span>
		<span class="rankings-stats">
			PTS: 1330
		</span>
	</div></a>
	<a href="adam-vinatieri.html"><div class="rankings-col" style="background-color:#1A237E;color:white;">
		2. Adam Vinatieri
		<span class="rankings-stats">
			FGM: 503
		</span>
		<span class="rankings-stats">
			XPM: 742
		</span>
		<span class="rankings-stats">
			PTS: 225
		</span>
	</div></a>
	<a href="steven-hauschka.html"><div class="rankings-col" style="background-color:#283593;color:white;">
		3. Steven Hauschka
		<span class="rankings-stats">
			FGM: 158
		</span>
		<span class="rankings-stats">
			XPM: 242
		</span>
		<span class="rankings-stats">
			PTS: 716
		</span>
	</div></a>
	<a href="brandon-mcmanus.html"><div class="rankings-col" style="background-color:#303F9F;color:white;">
		4. Brandon McManus
		<span class="rankings-stats">
			FGM: 39
		</span>
		<span class="rankings-stats">
			XPM: 76
		</span>
		<span class="rankings-stats">
			PTS: 193
		</span>
	</div></a>
	<a href="justin-tucker.html"><div class="rankings-col" style="background-color:#3949AB;color:white;">
		5. Justin Tucker
		<span class="rankings-stats">
			FGM: 130
		</span>
		<span class="rankings-stats">
			XPM: 139
		</span>
		<span class="rankings-stats">
			PTS: 529
		</span>
	</div></a>
	<a href="matt-prater.html"><div class="rankings-col" style="background-color:#3F51B5;color:white;">
		6. Matt Prater
		<span class="rankings-stats">
			FGM: 185
		</span>
		<span class="rankings-stats">
			XPM: 317
		</span>
		<span class="rankings-stats">
			PTS: 872
		</span>
	</div></a>
	<a href="mason-crosby.html"><div class="rankings-col" style="background-color:#5C6BC0;color:white;">
		7. Mason Crosby
		<span class="rankings-stats">
			FGM: 236
		</span>
		<span class="rankings-stats">
			XPM: 437
		</span>
		<span class="rankings-stats">
			PTS: 1145
		</span>
	</div></a>
	<a href="chandler-catanzaro.html"><div class="rankings-col" style="background-color:#7986CB;color:white;">
		8. Chandler Catanzaro
		<span class="rankings-stats">
			FGM: 57
		</span>
		<span class="rankings-stats">
			XPM: 80
		</span>
		<span class="rankings-stats">
			PTS: 251
		</span>
	</div></a>
	<a href="robbie-gould.html"><div class="rankings-col" style="background-color:#9FA8DA;color:black;">
		9. Robbie Gould
		<span class="rankings-stats" style="color:black !important;">
			FGM: 276
		</span>
		<span class="rankings-stats" style="color:black !important;">
			XPM: 379
		</span>
		<span class="rankings-stats" style="color:black !important;">
			PTS: 1330
		</span>
	</div></a>
	<a href="graham-gano.html"><div class="rankings-col" style="background-color:#C5CAE9;color:black;">
		10. Graham Gano
		<span class="rankings-stats" style="color:black !important;">
			FGM: 151
		</span>
		<span class="rankings-stats" style="color:black !important;">
			XPM: 211
		</span>
		<span class="rankings-stats" style="color:black !important;">
			PTS: 664
		</span>
	</div></a>
	<a href="cody-parkey.html"><div class="rankings-col" style="background-color:#E8EAF6;color:black;">
		11. Cody Parkey
		<span class="rankings-stats" style="color:black !important;">
			FGM: 35
		</span>
		<span class="rankings-stats" style="color:black !important;">
			XPM: 61
		</span>
		<span class="rankings-stats" style="color:black !important;">
			PTS: 166
		</span>
	</div></a>
</div>
{% endblock %}	