{% extends "templates/profile.html" %}
{% block team %} 
	<span style="background-color:#1A237E;margin-right:10px;padding: 15px;font-size: 2em;color: white;">#3</span>
	<span style="display:inline-block;vertical-align: middle;font-size: 1.5em;">
		New England <br>
		Patriots
	</span>
{%endblock%}

{% block social %} 
	<p>
		<a href="">
			<span style="color:#3F51B5;">
				<i class="fa fa-facebook-square"></i> 
				/StephenGostkowski
			</span>
		</a>
		<a href="">
			<span style="color:#2196F3;">
				<i class="fa fa-twitter-square" style="margin-left:10px;"></i> 
				@gostkowski
			</span>
		</a>
		<a href="">
			<span style="color:#009688;">
				<i class="fa fa-instagram" style="margin-left:10px;"></i> 
				@stephengostkowski3
			</span>
		</a>
	</p>
{%endblock%}

{% block about %}
	<div class="stats-row">
		<div class="stats-col">
			<p>Height: 6'1"</p>
		</div>
		<div class="stats-col">
			<p>Weight: 215 lbs</p>
		</div>
		<div class="stats-col">
			<p>College: Memphis</p>
		</div>
		<div class="stats-col">
			<p>Nickname: "Fantasy Slayer"</p>
		</div>
	</div>
{%endblock%}

{% block stats %}
	<div class="stats-row">
		<div class="stats-col-third">
			<p>Field Goals Made</p>
		</div>
		<div class="stats-col-third">
			<p>Extra Points Made</p>
		</div>
		<div class="stats-col-third">
			<p>Points</p>
		</div>
	</div>
{%endblock%}